@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.loader {
  border: 3px solid #fff;
  border-top: 3px solid transparent;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  animation: spin 0.6s linear infinite;
  display: inline-block;
  vertical-align: middle;
}

.loading .loader {
   width: 50px;
   height: 50px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@layer utilities {
  .ce-block__content,
  .ce-toolbar__content {
    margin: 0 !important;
    max-width: 100% !important;
  }
  .dark .ce-toolbar__plus {
    color: #fff !important;
  }
  .dark .ce-toolbar__settings-btn {
     color: #fff !important;
  }

}

.ce-block h1, h1 {
  font-size: 2.25rem;   
  font-weight: 700;
  margin: 1.25rem 0;
}

.ce-block h2, h2 {
  font-size: 1.875rem;  
  font-weight: 700;
  margin: 1rem 0;
}

.ce-block h3, h3 {
  font-size: 1.5rem;    
  font-weight: 600;
  margin: 0.75rem 0;
}

.ce-block h4, h4 {
  font-size: 1.25rem;   
  font-weight: 600;
  margin: 0.5rem 0;
}

.ce-block h5, h5 {
  font-size: 1.125rem;  
  font-weight: 600;
  margin: 0.5rem 0;
}

.ce-block h6, h6 {
  font-size: 1rem;      
  font-weight: 600;
  margin: 0.5rem 0;
}

